USE [master]
GO
/****** Object:  Database [TijarahJoDB]    Script Date: 12/28/2025 1:14:54 AM ******/
CREATE DATABASE [TijarahJoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TijarahJoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TijarahJoDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TijarahJoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TijarahJoDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TijarahJoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TijarahJoDB]
GO
/****** Object:  Table [dbo].[TbRoles]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbRoles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_TbRoles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TbRoles_RoleName] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbUsers]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbUsers](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[HashedPassword] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NULL,
	[JoinDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_TbUsers] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TbUsers_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TbUsers_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbItemCategories]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbItemCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_TbItemCategories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TbItemCategories_CategoryName] UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbPosts]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbPosts](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[PostTitle] [nvarchar](200) NOT NULL,
	[PostDescription] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_TbUserPosts] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_PostsForListing]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[VW_PostsForListing]
AS
SELECT
    p.PostID,
    p.UserID,
    u.Username,
    p.CategoryID,
    c.CategoryName,
    p.PostTitle,
    p.PostDescription,
    p.Price,
    p.Status,
    p.CreatedAt,
    p.IsDeleted,
    u.Email,
    u.FirstName,
    u.LastName,
    u.RoleID,
    r.RoleName
FROM dbo.TbPosts AS p
JOIN dbo.TbItemCategories AS c ON p.CategoryID = c.CategoryID
JOIN dbo.TbUsers          AS u ON p.UserID     = u.UserID
JOIN dbo.TbRoles          AS r ON u.RoleID     = r.RoleID;
GO
/****** Object:  Table [dbo].[TbPostReviews]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbPostReviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[PostID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Rating] [tinyint] NOT NULL,
	[ReviewText] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_TbPostReviews] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TbPostReviews_Post_User] UNIQUE NONCLUSTERED 
(
	[PostID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbPostImages]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbPostImages](
	[PostImageID] [int] IDENTITY(1,1) NOT NULL,
	[PostID] [int] NOT NULL,
	[PostImageURL] [nvarchar](500) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_TbPostImages] PRIMARY KEY CLUSTERED 
(
	[PostImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_PostDetails_Json]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[VW_PostDetails_Json]
AS
SELECT
    -- Post core
    p.PostID,
    p.UserID                 AS OwnerUserID,
    p.CategoryID,
    c.CategoryName,
    p.PostTitle,
    p.PostDescription,
    p.Price,
    p.Status                 AS PostStatus,
    p.CreatedAt              AS PostCreatedAt,
    p.IsDeleted              AS PostIsDeleted,

    -- Owner (seller)
    u.Username               AS OwnerUsername,
    u.Email                  AS OwnerEmail,
    u.FirstName              AS OwnerFirstName,
    u.LastName               AS OwnerLastName,
    CONCAT(u.FirstName, N' ', ISNULL(u.LastName, N'')) AS OwnerFullName,
    u.Status                 AS OwnerStatus,
    u.RoleID,
    r.RoleName,

    -- Images as JSON array
    ImagesJson =
    (
        SELECT
            i.PostImageID,
            i.PostImageURL,
            i.UploadedAt
        FROM dbo.TbPostImages i
        WHERE i.PostID = p.PostID
          AND i.IsDeleted = 0
        ORDER BY i.UploadedAt ASC, i.PostImageID ASC
        FOR JSON PATH
    ),

    -- Reviews as JSON array (each review includes reviewer info)
    ReviewsJson =
    (
        SELECT
            rv.ReviewID,
            rv.PostID,
            rv.UserID AS ReviewerUserID,
            reviewer.Username AS ReviewerUsername,
            reviewer.Email    AS ReviewerEmail,
            reviewer.FirstName AS ReviewerFirstName,
            reviewer.LastName  AS ReviewerLastName,
            CONCAT(reviewer.FirstName, N' ', ISNULL(reviewer.LastName, N'')) AS ReviewerFullName,
            rv.Rating,
            rv.ReviewText,
            rv.CreatedAt AS ReviewCreatedAt
        FROM dbo.TbPostReviews rv
        JOIN dbo.TbUsers reviewer ON reviewer.UserID = rv.UserID
        WHERE rv.PostID = p.PostID
          AND rv.IsDeleted = 0
        ORDER BY rv.CreatedAt DESC, rv.ReviewID DESC
        FOR JSON PATH
    ),

    -- Review summary (useful for UI)
    ReviewCount =
    (
        SELECT COUNT(*)
        FROM dbo.TbPostReviews rv
        WHERE rv.PostID = p.PostID AND rv.IsDeleted = 0
    ),
    AvgRating =
    (
        SELECT CAST(AVG(CAST(rv.Rating AS decimal(9,2))) AS decimal(9,2))
        FROM dbo.TbPostReviews rv
        WHERE rv.PostID = p.PostID AND rv.IsDeleted = 0
    )

FROM dbo.TbPosts p
JOIN dbo.TbItemCategories c ON c.CategoryID = p.CategoryID
JOIN dbo.TbUsers u          ON u.UserID = p.UserID
JOIN dbo.TbRoles r          ON r.RoleID = u.RoleID
WHERE p.IsDeleted = 0;
GO
/****** Object:  Table [dbo].[TbUserImages]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbUserImages](
	[UserImageID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ImageURL] [nvarchar](1000) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_TbUserImages] PRIMARY KEY CLUSTERED 
(
	[UserImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbUserPhoneNumbers]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbUserPhoneNumbers](
	[PhoneID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[PhoneType] [nvarchar](50) NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PhoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TbItemCategories_Name]    Script Date: 12/28/2025 1:14:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbItemCategories_Name] ON [dbo].[TbItemCategories]
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbPostImages_PostID]    Script Date: 12/28/2025 1:14:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbPostImages_PostID] ON [dbo].[TbPostImages]
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbPostReviews_PostID]    Script Date: 12/28/2025 1:14:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbPostReviews_PostID] ON [dbo].[TbPostReviews]
(
	[PostID] ASC,
	[IsDeleted] ASC,
	[CreatedAt] DESC
)
INCLUDE([Rating],[UserID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbPostReviews_UserID]    Script Date: 12/28/2025 1:14:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbPostReviews_UserID] ON [dbo].[TbPostReviews]
(
	[UserID] ASC,
	[IsDeleted] ASC,
	[CreatedAt] DESC
)
INCLUDE([Rating],[PostID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbUserPosts_CategoryID]    Script Date: 12/28/2025 1:14:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbUserPosts_CategoryID] ON [dbo].[TbPosts]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbUserPosts_Status]    Script Date: 12/28/2025 1:14:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbUserPosts_Status] ON [dbo].[TbPosts]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbUserPosts_UserID]    Script Date: 12/28/2025 1:14:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbUserPosts_UserID] ON [dbo].[TbPosts]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbUserImages_UserID]    Script Date: 12/28/2025 1:14:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbUserImages_UserID] ON [dbo].[TbUserImages]
(
	[UserID] ASC,
	[IsDeleted] ASC,
	[UploadedAt] DESC
)
INCLUDE([ImageURL]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbUserPhoneNumbers_UserID]    Script Date: 12/28/2025 1:14:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbUserPhoneNumbers_UserID] ON [dbo].[TbUserPhoneNumbers]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TbUsers_Email]    Script Date: 12/28/2025 1:14:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbUsers_Email] ON [dbo].[TbUsers]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TbUsers_HashedPassword]    Script Date: 12/28/2025 1:14:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbUsers_HashedPassword] ON [dbo].[TbUsers]
(
	[HashedPassword] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbUsers_RoleID]    Script Date: 12/28/2025 1:14:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbUsers_RoleID] ON [dbo].[TbUsers]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbUsers_Status]    Script Date: 12/28/2025 1:14:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbUsers_Status] ON [dbo].[TbUsers]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TbUsers_Username]    Script Date: 12/28/2025 1:14:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbUsers_Username] ON [dbo].[TbUsers]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TbItemCategories] ADD  CONSTRAINT [DF_TbItemCategories_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TbItemCategories] ADD  CONSTRAINT [DF_TbItemCategories_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TbPostImages] ADD  CONSTRAINT [DF_TbPostImages_UploadedAt]  DEFAULT (sysdatetime()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[TbPostImages] ADD  CONSTRAINT [DF_TbPostImages_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TbPostReviews] ADD  CONSTRAINT [DF_TbPostReviews_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TbPostReviews] ADD  CONSTRAINT [DF_TbPostReviews_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TbPosts] ADD  CONSTRAINT [DF_TbUserPosts_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[TbPosts] ADD  CONSTRAINT [DF_TbUserPosts_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TbPosts] ADD  CONSTRAINT [DF_TbUserPosts_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TbRoles] ADD  CONSTRAINT [DF_TbRoles_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TbRoles] ADD  CONSTRAINT [DF_TbRoles_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TbUserImages] ADD  CONSTRAINT [DF_TbUserImages_UploadedAt]  DEFAULT (sysutcdatetime()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[TbUserImages] ADD  CONSTRAINT [DF_TbUserImages_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TbUserPhoneNumbers] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[TbUserPhoneNumbers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TbUserPhoneNumbers] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TbUsers] ADD  CONSTRAINT [DF_TbUsers_JoinDate]  DEFAULT (sysdatetime()) FOR [JoinDate]
GO
ALTER TABLE [dbo].[TbUsers] ADD  CONSTRAINT [DF_TbUsers_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[TbUsers] ADD  CONSTRAINT [DF_TbUsers_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TbPostImages]  WITH CHECK ADD  CONSTRAINT [FK_TbPostImages_PostID] FOREIGN KEY([PostID])
REFERENCES [dbo].[TbPosts] ([PostID])
GO
ALTER TABLE [dbo].[TbPostImages] CHECK CONSTRAINT [FK_TbPostImages_PostID]
GO
ALTER TABLE [dbo].[TbPostReviews]  WITH CHECK ADD  CONSTRAINT [FK_TbPostReviews_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[TbPosts] ([PostID])
GO
ALTER TABLE [dbo].[TbPostReviews] CHECK CONSTRAINT [FK_TbPostReviews_Post]
GO
ALTER TABLE [dbo].[TbPostReviews]  WITH CHECK ADD  CONSTRAINT [FK_TbPostReviews_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[TbUsers] ([UserID])
GO
ALTER TABLE [dbo].[TbPostReviews] CHECK CONSTRAINT [FK_TbPostReviews_User]
GO
ALTER TABLE [dbo].[TbPosts]  WITH CHECK ADD  CONSTRAINT [FK_TbUserPosts_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[TbItemCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[TbPosts] CHECK CONSTRAINT [FK_TbUserPosts_CategoryID]
GO
ALTER TABLE [dbo].[TbPosts]  WITH CHECK ADD  CONSTRAINT [FK_TbUserPosts_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[TbUsers] ([UserID])
GO
ALTER TABLE [dbo].[TbPosts] CHECK CONSTRAINT [FK_TbUserPosts_UserID]
GO
ALTER TABLE [dbo].[TbUserImages]  WITH CHECK ADD  CONSTRAINT [FK_TbUserImages_TbUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[TbUsers] ([UserID])
GO
ALTER TABLE [dbo].[TbUserImages] CHECK CONSTRAINT [FK_TbUserImages_TbUsers]
GO
ALTER TABLE [dbo].[TbUserPhoneNumbers]  WITH CHECK ADD  CONSTRAINT [FK_TbUserPhoneNumbers_TbUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[TbUsers] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TbUserPhoneNumbers] CHECK CONSTRAINT [FK_TbUserPhoneNumbers_TbUsers]
GO
ALTER TABLE [dbo].[TbUsers]  WITH CHECK ADD  CONSTRAINT [FK_TbUsers_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[TbRoles] ([RoleID])
GO
ALTER TABLE [dbo].[TbUsers] CHECK CONSTRAINT [FK_TbUsers_RoleID]
GO
ALTER TABLE [dbo].[TbPostReviews]  WITH CHECK ADD  CONSTRAINT [CK_TbPostReviews_Rating] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[TbPostReviews] CHECK CONSTRAINT [CK_TbPostReviews_Rating]
GO
ALTER TABLE [dbo].[TbPosts]  WITH CHECK ADD  CONSTRAINT [CK_TbUserPosts_Price] CHECK  (([Price] IS NULL OR [Price]>=(0)))
GO
ALTER TABLE [dbo].[TbPosts] CHECK CONSTRAINT [CK_TbUserPosts_Price]
GO
ALTER TABLE [dbo].[TbPosts]  WITH CHECK ADD  CONSTRAINT [CK_TbUserPosts_Status] CHECK  (([Status]=(3) OR [Status]=(2) OR [Status]=(1) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[TbPosts] CHECK CONSTRAINT [CK_TbUserPosts_Status]
GO
ALTER TABLE [dbo].[TbUsers]  WITH CHECK ADD  CONSTRAINT [CK_TbUsers_Status] CHECK  (([Status]=(2) OR [Status]=(1) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[TbUsers] CHECK CONSTRAINT [CK_TbUsers_Status]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddCategory]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddCategory]
    @CategoryName NVARCHAR(100),
    @CreatedAt DATETIME,
    @IsDeleted BIT,
    @NewCategoryID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO TbItemCategories (CategoryName, CreatedAt, IsDeleted)
    VALUES (@CategoryName, @CreatedAt, @IsDeleted);

    SET @NewCategoryID = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AddPost]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddPost]
    @UserID INT,
    @CategoryID INT,
    @PostTitle NVARCHAR(100),
    @PostDescription NVARCHAR(100),
    @Price DECIMAL(18,2),
    @Status INT,
    @CreatedAt DATETIME,
    @IsDeleted BIT,
    @NewPostID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO TbPosts (UserID, CategoryID, PostTitle, PostDescription, Price, Status, CreatedAt, IsDeleted)
    VALUES (@UserID, @CategoryID, @PostTitle, @PostDescription, @Price, @Status, @CreatedAt, @IsDeleted);

    SET @NewPostID = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AddPostImage]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddPostImage]
    @PostID INT,
    @PostImageURL NVARCHAR(100),
    @UploadedAt DATETIME,
    @IsDeleted BIT,
    @NewPostImageID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO TbPostImages (PostID, PostImageURL, UploadedAt, IsDeleted)
    VALUES (@PostID, @PostImageURL, @UploadedAt, @IsDeleted);

    SET @NewPostImageID = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AddReview]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddReview]
    @PostID INT,
    @UserID INT,
    @Rating TINYINT,
    @ReviewText NVARCHAR(MAX) = NULL,
    @CreatedAt DATETIME2,
    @IsDeleted BIT,
    @NewReviewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO TbPostReviews (PostID, UserID, Rating, ReviewText, CreatedAt, IsDeleted)
    VALUES (@PostID, @UserID, @Rating, @ReviewText, @CreatedAt, @IsDeleted);
    
    SET @NewReviewID = SCOPE_IDENTITY();
END

GO
/****** Object:  StoredProcedure [dbo].[SP_AddRole]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddRole]
    @RoleName NVARCHAR(100),
    @CreatedAt DATETIME,
    @IsDeleted BIT,
    @NewRoleID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO TbRoles (RoleName, CreatedAt, IsDeleted)
    VALUES (@RoleName, @CreatedAt, @IsDeleted);

    SET @NewRoleID = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AddUserImage]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Add User Image
CREATE   PROCEDURE [dbo].[SP_AddUserImage]
    @UserID INT,
    @ImageURL NVARCHAR(2000),
    @UploadedAt DATETIME2,
    @IsDeleted BIT,
    @NewUserImageID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO TbUserImages (UserID, ImageURL, UploadedAt, IsDeleted)
    VALUES (@UserID, @ImageURL, @UploadedAt, @IsDeleted);

    SET @NewUserImageID = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AddUserPhoneNumber]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddUserPhoneNumber]
    @UserID INT,
    @PhoneNumber NVARCHAR(20),
    @PhoneType NVARCHAR(50) = NULL,
    @IsPrimary BIT = 0,
    @NewPhoneID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- If this is set as primary, unset other primary numbers for this user
    IF @IsPrimary = 1
    BEGIN
        UPDATE [dbo].[TbUserPhoneNumbers]
        SET IsPrimary = 0
        WHERE UserID = @UserID AND IsDeleted = 0;
    END
    
    INSERT INTO [dbo].[TbUserPhoneNumbers] 
        (UserID, PhoneNumber, PhoneType, IsPrimary, CreatedAt, IsDeleted)
    VALUES 
        (@UserID, @PhoneNumber, @PhoneType, @IsPrimary, SYSUTCDATETIME(), 0);
    
    SET @NewPhoneID = SCOPE_IDENTITY();
END

GO
/****** Object:  StoredProcedure [dbo].[SP_CreateUser]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CreateUser]
    @Username NVARCHAR(200),
    @HashedPassword NVARCHAR(510),
    @Email NVARCHAR(510),
    @FirstName NVARCHAR(200),
    @LastName NVARCHAR(200) = NULL,
    @JoinDate DATETIME2 = NULL,
    @Status INT = 1,
    @RoleID INT,
    @IsDeleted BIT = 0,
    @NewUserID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Set default JoinDate if not provided
    IF @JoinDate IS NULL
        SET @JoinDate = SYSUTCDATETIME();
    
    INSERT INTO [dbo].[TbUsers] 
        (Username, HashedPassword, Email, FirstName, LastName, JoinDate, Status, RoleID, IsDeleted)
    VALUES 
        (@Username, @HashedPassword, @Email, @FirstName, @LastName, @JoinDate, @Status, @RoleID, @IsDeleted);
    
    SET @NewUserID = SCOPE_IDENTITY();
END

GO
/****** Object:  StoredProcedure [dbo].[SP_CreateUserWithPhone]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CreateUserWithPhone]
    @Username NVARCHAR(200),
    @HashedPassword NVARCHAR(510),
    @Email NVARCHAR(510),
    @FirstName NVARCHAR(200),
    @LastName NVARCHAR(200) = NULL,
    @PhoneNumber NVARCHAR(20) = NULL,
    @PhoneType NVARCHAR(50) = 'Mobile',
    @JoinDate DATETIME2 = NULL,
    @Status INT = 1,
    @RoleID INT,
    @IsDeleted BIT = 0,
    @NewUserID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Set default JoinDate if not provided
        IF @JoinDate IS NULL
            SET @JoinDate = SYSUTCDATETIME();
        
        -- Insert User
        INSERT INTO [dbo].[TbUsers] 
            (Username, HashedPassword, Email, FirstName, LastName, JoinDate, Status, RoleID, IsDeleted)
        VALUES 
            (@Username, @HashedPassword, @Email, @FirstName, @LastName, @JoinDate, @Status, @RoleID, @IsDeleted);
        
        SET @NewUserID = SCOPE_IDENTITY();
        
        -- Insert Phone Number if provided
        IF @PhoneNumber IS NOT NULL AND LEN(TRIM(@PhoneNumber)) > 0
        BEGIN
            INSERT INTO [dbo].[TbUserPhoneNumbers] 
                (UserID, PhoneNumber, PhoneType, IsPrimary, CreatedAt, IsDeleted)
            VALUES 
                (@NewUserID, @PhoneNumber, @PhoneType, 1, SYSUTCDATETIME(), 0);
        END
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteCategory]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteCategory]
    @CategoryID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RowsAffected INT;

    DELETE FROM TbItemCategories
    WHERE CategoryID = @CategoryID;

    SET @RowsAffected = @@ROWCOUNT;

    SELECT @RowsAffected AS RowsAffected;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePost]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeletePost]
    @PostID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Step 1: Delete all images for this post first
        UPDATE TbPostImages 
        SET IsDeleted = 1 
        WHERE PostID = @PostID;
        
        -- Step 2: Delete all reviews for this post
        UPDATE TbReviews 
        SET IsDeleted = 1 
        WHERE PostID = @PostID;
        
        -- Step 3: Soft delete the post itself
        UPDATE TbPosts 
        SET IsDeleted = 1 
        WHERE PostID = @PostID;
        
        -- Return number of affected rows
        SELECT @@ROWCOUNT AS RowsAffected;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        -- Return 0 to indicate failure
        SELECT 0 AS RowsAffected;
        
        -- Optionally log the error
        -- INSERT INTO ErrorLog (ErrorMessage, ErrorProcedure, ErrorLine)
        -- VALUES (ERROR_MESSAGE(), ERROR_PROCEDURE(), ERROR_LINE());
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePostCascade]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeletePostCascade]
    @PostID INT,
    @HardDelete BIT = 0  -- 0 = soft delete, 1 = hard delete
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @RowsAffected INT = 0;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF @HardDelete = 1
        BEGIN
            -- HARD DELETE - permanently remove records
            
            -- Delete images first (child table)
            DELETE FROM TbPostImages WHERE PostID = @PostID;
            
            -- Delete reviews (child table)
            DELETE FROM TbReviews WHERE PostID = @PostID;
            
            -- Delete the post itself
            DELETE FROM TbPosts WHERE PostID = @PostID;
            SET @RowsAffected = @@ROWCOUNT;
        END
        ELSE
        BEGIN
            -- SOFT DELETE - mark as deleted
            
            -- Soft delete images
            UPDATE TbPostImages 
            SET IsDeleted = 1 
            WHERE PostID = @PostID AND IsDeleted = 0;
            
            -- Soft delete reviews
            UPDATE TbReviews 
            SET IsDeleted = 1 
            WHERE PostID = @PostID AND IsDeleted = 0;
            
            -- Soft delete the post
            UPDATE TbPosts 
            SET IsDeleted = 1 
            WHERE PostID = @PostID AND IsDeleted = 0;
            SET @RowsAffected = @@ROWCOUNT;
        END
        
        COMMIT TRANSACTION;
        
        SELECT @RowsAffected AS RowsAffected;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        SELECT 0 AS RowsAffected;
        
        -- For debugging, you can also return error info:
        -- SELECT ERROR_MESSAGE() AS ErrorMessage, ERROR_LINE() AS ErrorLine;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePostImage]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeletePostImage]
    @PostImageID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Soft delete the image
    UPDATE TbPostImages 
    SET IsDeleted = 1 
    WHERE PostImageID = @PostImageID;
    
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteReview]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeleteReview]
    @ReviewID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Soft delete the review
    UPDATE TbReviews 
    SET IsDeleted = 1 
    WHERE ReviewID = @ReviewID;
    
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteRole]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteRole]
    @RoleID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RowsAffected INT;

    DELETE FROM TbRoles
    WHERE RoleID = @RoleID;

    SET @RowsAffected = @@ROWCOUNT;

    SELECT @RowsAffected AS RowsAffected;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUser]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteUser]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RowsAffected INT;

    DELETE FROM TbUsers
    WHERE UserID = @UserID;

    SET @RowsAffected = @@ROWCOUNT;

    SELECT @RowsAffected AS RowsAffected;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUserImage]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Delete User Image (Soft Delete)
CREATE   PROCEDURE [dbo].[SP_DeleteUserImage]
    @UserImageID INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE TbUserImages
    SET IsDeleted = 1
    WHERE UserImageID = @UserImageID;

    SELECT @@ROWCOUNT AS RowsAffected;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUserPhoneNumber]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeleteUserPhoneNumber]
    @PhoneID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE [dbo].[TbUserPhoneNumbers]
    SET IsDeleted = 1, IsPrimary = 0
    WHERE PhoneID = @PhoneID;
    
    SELECT @@ROWCOUNT;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DoesCategoryExist]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DoesCategoryExist]
    @CategoryID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM TbItemCategories WHERE CategoryID = @CategoryID)
        SELECT CAST(1 AS BIT) AS Found;
    ELSE
        SELECT CAST(0 AS BIT) AS Found;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DoesPostExist]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DoesPostExist]
    @PostID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM TbPosts WHERE PostID = @PostID)
        SELECT CAST(1 AS BIT) AS Found;
    ELSE
        SELECT CAST(0 AS BIT) AS Found;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DoesPostImageExist]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DoesPostImageExist]
    @PostImageID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM TbPostImages WHERE PostImageID = @PostImageID)
        SELECT CAST(1 AS BIT) AS Found;
    ELSE
        SELECT CAST(0 AS BIT) AS Found;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DoesReviewExist]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DoesReviewExist]
    @ReviewID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT CAST(
        CASE WHEN EXISTS (
            SELECT 1 FROM TbPostReviews WHERE ReviewID = @ReviewID
        ) THEN 1 ELSE 0 END 
    AS BIT) AS DoesExist;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DoesRoleExist]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DoesRoleExist]
    @RoleID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM TbRoles WHERE RoleID = @RoleID)
        SELECT CAST(1 AS BIT) AS Found;
    ELSE
        SELECT CAST(0 AS BIT) AS Found;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DoesUserExist]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DoesUserExist]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM TbUsers WHERE UserID = @UserID)
        SELECT CAST(1 AS BIT) AS Found;
    ELSE
        SELECT CAST(0 AS BIT) AS Found;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DoesUserImageExist]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Does User Image Exist
CREATE   PROCEDURE [dbo].[SP_DoesUserImageExist]
    @UserImageID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM TbUserImages WHERE UserImageID = @UserImageID AND IsDeleted = 0)
        SELECT CAST(1 AS BIT) AS Found;
    ELSE
        SELECT CAST(0 AS BIT) AS Found;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DoesUserPhoneNumberExist]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DoesUserPhoneNumberExist]
    @PhoneID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    IF EXISTS (SELECT 1 FROM [dbo].[TbUserPhoneNumbers] WHERE PhoneID = @PhoneID AND IsDeleted = 0)
        SELECT CAST(1 AS BIT);
    ELSE
        SELECT CAST(0 AS BIT);
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllTbItemCategories]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllTbItemCategories]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT CategoryID, CategoryName, CreatedAt, IsDeleted
    FROM TbItemCategories;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllTbPostImages]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllTbPostImages]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT PostImageID, PostID, PostImageURL, UploadedAt, IsDeleted
    FROM TbPostImages;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllTbPostReviews]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllTbPostReviews]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ReviewID,
        PostID,
        UserID,
        Rating,
        ReviewText,
        CreatedAt,
        IsDeleted
    FROM TbPostReviews
    WHERE IsDeleted = 0
    ORDER BY CreatedAt DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllTbPosts]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllTbPosts]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT PostID, UserID, CategoryID, PostTitle, PostDescription, Price, Status, CreatedAt, IsDeleted
    FROM TbPosts;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllTbRoles]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllTbRoles]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT RoleID, RoleName, CreatedAt, IsDeleted
    FROM TbRoles;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllTbUserImages]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Get All User Images (Admin use)
CREATE   PROCEDURE [dbo].[SP_GetAllTbUserImages]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UserImageID, 
        UserID, 
        ImageURL, 
        UploadedAt, 
        IsDeleted
    FROM TbUserImages
    WHERE IsDeleted = 0
    ORDER BY UploadedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllTbUsers]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllTbUsers]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        u.UserID,
        u.Username,
        u.HashedPassword,
        u.Email,
        u.FirstName,
        u.LastName,
        u.JoinDate,
        u.Status,
        u.RoleID,
        u.IsDeleted,
        (SELECT TOP 1 PhoneNumber FROM TbUserPhoneNumbers WHERE UserID = u.UserID AND IsPrimary = 1 AND IsDeleted = 0) AS PrimaryPhone
    FROM [dbo].[TbUsers] u
    ORDER BY u.UserID;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetCategoryById]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetCategoryById]
    @CategoryID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT CategoryID, CategoryName, CreatedAt, IsDeleted
    FROM TbItemCategories
    WHERE CategoryID = @CategoryID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPostById]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetPostById]
    @PostID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT PostID, UserID, CategoryID, PostTitle, PostDescription, Price, Status, CreatedAt, IsDeleted
    FROM TbPosts
    WHERE PostID = @PostID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPostDetails_All]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetPostDetails_All]
(
    @PostID INT,
    @IncludeDeleted BIT = 0   -- 0 = only active posts, 1 = include deleted posts
)
AS
BEGIN
    SET NOCOUNT ON;

    /* ---------------------------
       Result Set 1: Post + Owner + Category + Role
       --------------------------- */
    SELECT
        p.PostID,
        p.UserID AS OwnerUserID,
        u.Username AS OwnerUsername,
        u.Email AS OwnerEmail,
        u.FirstName AS OwnerFirstName,
        u.LastName AS OwnerLastName,
        CONCAT(u.FirstName, N' ', ISNULL(u.LastName, N'')) AS OwnerFullName,
        u.RoleID,
        ro.RoleName,

        p.CategoryID,
        c.CategoryName,

        p.PostTitle,
        p.PostDescription,
        p.Price,
        p.Status,
        p.CreatedAt,
        p.IsDeleted
    FROM dbo.TbPosts p
    INNER JOIN dbo.TbUsers u ON u.UserID = p.UserID
    INNER JOIN dbo.TbRoles ro ON ro.RoleID = u.RoleID
    INNER JOIN dbo.TbItemCategories c ON c.CategoryID = p.CategoryID
    WHERE p.PostID = @PostID
      AND (@IncludeDeleted = 1 OR p.IsDeleted = 0);

    -- If you want to stop returning reviews/images when post doesn't match the filter, keep this guard:
    IF NOT EXISTS
    (
        SELECT 1
        FROM dbo.TbPosts p
        WHERE p.PostID = @PostID
          AND (@IncludeDeleted = 1 OR p.IsDeleted = 0)
    )
    BEGIN
        RETURN;
    END

    /* ---------------------------
       Result Set 2: Reviews (EXACT columns requested)
       --------------------------- */
    SELECT 
        r.ReviewID,
        r.PostID,
        r.Rating,
        r.ReviewText,
        r.CreatedAt,
        u.UserID AS ReviewerUserID,
        u.Username AS ReviewerUsername,
        u.Email AS ReviewerEmail,
        u.FirstName AS ReviewerFirstName,
        u.LastName AS ReviewerLastName,
        CONCAT(u.FirstName, N' ', ISNULL(u.LastName, N'')) AS ReviewerFullName
    FROM dbo.TbPostReviews r
    INNER JOIN dbo.TbUsers u ON r.UserID = u.UserID
    WHERE r.PostID = @PostID
      AND r.IsDeleted = 0
    ORDER BY r.CreatedAt DESC, r.ReviewID DESC;

    /* ---------------------------
       Result Set 3: Images
       --------------------------- */
    SELECT
        i.PostImageID,
        i.PostID,
        i.PostImageURL,
        i.UploadedAt
    FROM dbo.TbPostImages i
    WHERE i.PostID = @PostID
      AND i.IsDeleted = 0
    ORDER BY i.UploadedAt ASC, i.PostImageID ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPostImageById]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetPostImageById]
    @PostImageID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT PostImageID, PostID, PostImageURL, UploadedAt, IsDeleted
    FROM TbPostImages
    WHERE PostImageID = @PostImageID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPostImagesByPostID]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Get Images by Post ID
CREATE   PROCEDURE [dbo].[SP_GetPostImagesByPostID]
    @PostID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        PostImageID, 
        PostID, 
        PostImageURL, 
        UploadedAt, 
        IsDeleted
    FROM TbPostImages
    WHERE PostID = @PostID AND IsDeleted = 0
    ORDER BY UploadedAt ASC, PostImageID ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPostPrimaryImage]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Get Primary (First) Post Image
CREATE   PROCEDURE [dbo].[SP_GetPostPrimaryImage]
    @PostID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        PostImageID, 
        PostID, 
        PostImageURL, 
        UploadedAt, 
        IsDeleted
    FROM TbPostImages
    WHERE PostID = @PostID AND IsDeleted = 0
    ORDER BY UploadedAt ASC, PostImageID ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetReviewByID]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetReviewByID]
    @ReviewID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ReviewID,
        PostID,
        UserID,
        Rating,
        ReviewText,
        CreatedAt,
        IsDeleted
    FROM TbPostReviews
    WHERE ReviewID = @ReviewID;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetReviewsByPostID]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetReviewsByPostID]
    @PostID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ReviewID,
        PostID,
        UserID,
        Rating,
        ReviewText,
        CreatedAt,
        IsDeleted
    FROM TbPostReviews
    WHERE PostID = @PostID AND IsDeleted = 0
    ORDER BY CreatedAt DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoleById]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetRoleById]
    @RoleID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT RoleID, RoleName, CreatedAt, IsDeleted
    FROM TbRoles
    WHERE RoleID = @RoleID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTbPostsPaged]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetTbPostsPaged]  
(  
    @PageNumber      INT = 1,  
    @RowsPerPage     INT = 10,  
    @IncludeDeleted  BIT = 0,      -- 0 = IsDeleted = 0 only, 1 = include all  
    @CategoryID      INT = NULL    -- NULL = all categories, else filter  
)  
AS  
BEGIN  
    SET NOCOUNT ON;  
  
    IF (@PageNumber < 1) SET @PageNumber = 1;  
    IF (@RowsPerPage < 1) SET @RowsPerPage = 10;  
    IF (@RowsPerPage > 200) SET @RowsPerPage = 200;  
  
    DECLARE @Offset INT = (@PageNumber - 1) * @RowsPerPage;  
  
    ;WITH Filtered AS  
    (  
        SELECT *  
        FROM dbo.VW_PostsForListing  
        WHERE  
            (@IncludeDeleted = 1 OR IsDeleted = 0)  
            AND (@CategoryID IS NULL OR CategoryID = @CategoryID)  
    )  
    SELECT  
        f.PostID,  
        f.UserID,  
        f.Username,  
        f.Email,  
        f.FirstName,  
        f.LastName,  
        f.RoleID,  
        f.RoleName,  
  
        f.CategoryID,  
        f.CategoryName,  
  
        f.PostTitle,  
        f.PostDescription,  
        f.Price,  
        f.Status,  
        f.CreatedAt,  
        f.IsDeleted,  
  
        -- Primary Image (first non-deleted image for each post)
        PrimaryImage.PostImageURL AS PrimaryImageUrl,

        TotalRows = COUNT(*) OVER()  
    FROM Filtered f  
    OUTER APPLY (
        SELECT TOP 1 pi.PostImageURL
        FROM dbo.TbPostImages pi
        WHERE pi.PostID = f.PostID 
          AND pi.IsDeleted = 0
        ORDER BY pi.UploadedAt ASC  -- First uploaded image
    ) AS PrimaryImage
    ORDER BY f.CreatedAt DESC, f.PostID DESC  
    OFFSET @Offset ROWS FETCH NEXT @RowsPerPage ROWS ONLY;  
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserByID]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetUserByID]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        u.UserID,
        u.Username,
        u.HashedPassword,
        u.Email,
        u.FirstName,
        u.LastName,
        u.JoinDate,
        u.Status,
        u.RoleID,
        u.IsDeleted,
        (SELECT TOP 1 PhoneNumber FROM TbUserPhoneNumbers WHERE UserID = u.UserID AND IsPrimary = 1 AND IsDeleted = 0) AS PrimaryPhone
    FROM [dbo].[TbUsers] u
    WHERE u.UserID = @UserID;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserByLogin]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetUserByLogin]
    @Login NVARCHAR(510)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        u.UserID,
        u.Username,
        u.HashedPassword,
        u.Email,
        u.FirstName,
        u.LastName,
        u.JoinDate,
        u.Status,
        u.RoleID,
        u.IsDeleted,
        (SELECT TOP 1 PhoneNumber FROM TbUserPhoneNumbers WHERE UserID = u.UserID AND IsPrimary = 1 AND IsDeleted = 0) AS PrimaryPhone
    FROM [dbo].[TbUsers] u
    WHERE (u.Username = @Login OR u.Email = @Login) AND u.IsDeleted = 0;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserImageByID]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Get User Image by ID
CREATE   PROCEDURE [dbo].[SP_GetUserImageByID]
    @UserImageID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UserImageID, 
        UserID, 
        ImageURL, 
        UploadedAt, 
        IsDeleted
    FROM TbUserImages
    WHERE UserImageID = @UserImageID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserImagesByUserID]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Get Images by User ID (Primary use for nested resource)
CREATE   PROCEDURE [dbo].[SP_GetUserImagesByUserID]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UserImageID, 
        UserID, 
        ImageURL, 
        UploadedAt, 
        IsDeleted
    FROM TbUserImages
    WHERE UserID = @UserID AND IsDeleted = 0
    ORDER BY UploadedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserPhoneNumberByID]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetUserPhoneNumberByID]
    @PhoneID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        PhoneID,
        UserID,
        PhoneNumber,
        PhoneType,
        IsPrimary,
        CreatedAt,
        IsDeleted
    FROM [dbo].[TbUserPhoneNumbers]
    WHERE PhoneID = @PhoneID;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserPhoneNumbers]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetUserPhoneNumbers]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        PhoneID,
        UserID,
        PhoneNumber,
        PhoneType,
        IsPrimary,
        CreatedAt,
        IsDeleted
    FROM [dbo].[TbUserPhoneNumbers]
    WHERE UserID = @UserID AND IsDeleted = 0
    ORDER BY IsPrimary DESC, CreatedAt ASC;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_TbUsers_Login]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TbUsers_Login]
(
    @Login          NVARCHAR(255), -- Username OR Email
    @HashedPassword NVARCHAR(255)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (1)
           u.UserID,
           u.Username,
           u.HashedPassword,
           u.Email,
           u.FirstName,
           u.LastName,
           u.JoinDate,
           u.Status,
           u.RoleID,
           u.IsDeleted
    FROM dbo.TbUsers AS u
    WHERE
        (
            u.Username = @Login
            OR u.Email = @Login
        )
        AND u.HashedPassword = @HashedPassword
        AND u.IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCategory]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateCategory]
    @CategoryID INT,
    @CategoryName NVARCHAR(100),
    @CreatedAt DATETIME,
    @IsDeleted BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE TbItemCategories
    SET CategoryName = @CategoryName,
        CreatedAt = @CreatedAt,
        IsDeleted = @IsDeleted
    WHERE CategoryID = @CategoryID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePost]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdatePost]
    @PostID INT,
    @UserID INT,
    @CategoryID INT,
    @PostTitle NVARCHAR(100),
    @PostDescription NVARCHAR(100),
    @Price DECIMAL(18,2),
    @Status INT,
    @CreatedAt DATETIME,
    @IsDeleted BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE TbPosts
    SET UserID = @UserID,
        CategoryID = @CategoryID,
        PostTitle = @PostTitle,
        PostDescription = @PostDescription,
        Price = @Price,
        Status = @Status,
        CreatedAt = @CreatedAt,
        IsDeleted = @IsDeleted
    WHERE PostID = @PostID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePostImage]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Update Post Image
CREATE   PROCEDURE [dbo].[SP_UpdatePostImage]
    @PostImageID INT,
    @PostID INT,
    @PostImageURL NVARCHAR(1000),
    @UploadedAt DATETIME2,
    @IsDeleted BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE TbPostImages
    SET PostID = @PostID,
        PostImageURL = @PostImageURL,
        UploadedAt = @UploadedAt,
        IsDeleted = @IsDeleted
    WHERE PostImageID = @PostImageID;

    SELECT @@ROWCOUNT AS RowsAffected;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateReview]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdateReview]
    @ReviewID INT,
    @PostID INT,
    @UserID INT,
    @Rating TINYINT,
    @ReviewText NVARCHAR(MAX) = NULL,
    @CreatedAt DATETIME2,
    @IsDeleted BIT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE TbPostReviews
    SET 
        PostID = @PostID,
        UserID = @UserID,
        Rating = @Rating,
        ReviewText = @ReviewText,
        CreatedAt = @CreatedAt,
        IsDeleted = @IsDeleted
    WHERE ReviewID = @ReviewID;
    
    SELECT @@ROWCOUNT AS RowsAffected;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRole]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateRole]
    @RoleID INT,
    @RoleName NVARCHAR(100),
    @CreatedAt DATETIME,
    @IsDeleted BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE TbRoles
    SET RoleName = @RoleName,
        CreatedAt = @CreatedAt,
        IsDeleted = @IsDeleted
    WHERE RoleID = @RoleID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUser]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateUser]
    @UserID INT,
    @Username NVARCHAR(100),
    @HashedPassword NVARCHAR(100),
    @Email NVARCHAR(100),
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @JoinDate DATETIME,
    @Status INT,
    @RoleID INT,
    @IsDeleted BIT
AS
BEGIN

    UPDATE TbUsers
    SET Username = @Username,
        HashedPassword = @HashedPassword,
        Email = @Email,
        FirstName = @FirstName,
        LastName = @LastName,
        JoinDate = @JoinDate,
        Status = @Status,
        RoleID = @RoleID,
        IsDeleted = @IsDeleted
    WHERE UserID = @UserID;
	
	SELECT @@ROWCOUNT;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUserImage]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Update User Image
CREATE   PROCEDURE [dbo].[SP_UpdateUserImage]
    @UserImageID INT,
    @UserID INT,
    @ImageURL NVARCHAR(2000),
    @UploadedAt DATETIME2,
    @IsDeleted BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE TbUserImages
    SET UserID = @UserID,
        ImageURL = @ImageURL,
        UploadedAt = @UploadedAt,
        IsDeleted = @IsDeleted
    WHERE UserImageID = @UserImageID;

    SELECT @@ROWCOUNT AS RowsAffected;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUserPhoneNumber]    Script Date: 12/28/2025 1:14:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdateUserPhoneNumber]
    @PhoneID INT,
    @PhoneNumber NVARCHAR(20),
    @PhoneType NVARCHAR(50) = NULL,
    @IsPrimary BIT = 0,
    @IsDeleted BIT = 0
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @UserID INT;
    SELECT @UserID = UserID FROM [dbo].[TbUserPhoneNumbers] WHERE PhoneID = @PhoneID;
    
    -- If setting as primary, unset other primary numbers for this user
    IF @IsPrimary = 1 AND @IsDeleted = 0
    BEGIN
        UPDATE [dbo].[TbUserPhoneNumbers]
        SET IsPrimary = 0
        WHERE UserID = @UserID AND PhoneID != @PhoneID AND IsDeleted = 0;
    END
    
    UPDATE [dbo].[TbUserPhoneNumbers]
    SET 
        PhoneNumber = @PhoneNumber,
        PhoneType = @PhoneType,
        IsPrimary = @IsPrimary,
        IsDeleted = @IsDeleted
    WHERE PhoneID = @PhoneID;
    
    SELECT @@ROWCOUNT;
END

GO
USE [master]
GO
